@using OnlineTicari.Models.Siniflar
@model List<Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using(Html.BeginForm("Index","Urunler", FormMethod.Get))
{
    <p>
        Ürün adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}

<br />
<h2>Ürün Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞ YAP</th>

    </tr>
        @foreach (var u in Model)
         {
    <tr>
        <td>@u.UrunAd</td>
        <td>@u.Marka</td>
        <td>@u.Stok</td>
        <td>@u.AlisFiyat ₺</td>
        <td>@u.SatisFiyat ₺</td>
        <td>@u.Kategori.KategoriAd</td>
        <td>
            <a href="/Urunler/UrunSil/@u.UrunId" class="btn btn-danger">Sil</a>
        </td>
        <td>
            <a href="/Urunler/UrunGetir/@u.UrunId" class="btn btn-success">Güncelle</a>
        </td>
        <td>
            <a href="/Urunler/SatisYap/@u.UrunId" style="background-color:gold" class="btn btn-default">Sat</a>
        </td>
    </tr>
         }

</table>

<a href="/Urunler/YeniUrun/" class="btn btn-info"> Yeni Ürün</a>

